﻿<!DOCTYPE html>
<html>
  <head>
    <title>Server Manager - @Model.Name</title>
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/bootstrap-editable.css">
    <link rel="stylesheet" href="/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="/Content/css/main.css">
    <meta charset="UTF-8">
    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/jquery-ui.js"></script>
    <script src="/Content/js/bootstrap.js"></script>
    <script src="/Content/js/bootstrap-editable.js"></script>
    <script src="/Content/js/bootbox.min.js"></script>
    <script src="/Content/js/main.js"></script>
  </head>
<body>
<body>
  <div class="container">
    <div class="header">
        <div class="btn-toolbar pull-right">
            <!-- <a role="button" href="/logout" class="btn btn-default pull-right">Deslogar</a> -->
            @if (Model.Enabled)
            {
                <a role="button" href="/disable" class="btn btn-danger pull-right">Desabilitar conexões</a>    
            }
            else
            {
                <a role="button" href="/enable" class="btn btn-success pull-right">Habilitar conexões</a>
            }
        </div>
      <h3 class="text-muted">@Model.Name Manager</h3>
    </div>
      <div class="row content">
          <h3>Servidores vivos</h3>
          <table class="table table-striped table-hover">
              <thead>
              <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Endereço</th>
                  <th>Porta</th>
                  <th>Carga</th>
                  <th>Status</th>
                  <th>Visibilidade</th>
                  <th width="20%">Carga</th>
                  <th>Ação</th>
              </tr>
              </thead>
              <tbody>
              @foreach (var Current in Model.Servers)
              {
                  <tr>
                      <td>@Current.Code</td>
                      <td>@Current.Name</td>
                      <td>@Current.Address</td>
                      <td>@Current.Port</td>
                      <td>
                          @if (Current.Alive)
                          {
                              <span class="label label-info">@Current.Users / @Current.MaxUsers</span>
                          }
                          else
                          {
                              <span class="label label-danger">DESCONHECIDA</span>
                          }
                      </td>
                      <td>
                          @if (Current.Alive)
                          {
                              <span class="label label-success">ONLINE</span>
                          }
                          else
                          {
                              <span class="label label-danger">OFFLINE</span>
                          }
                      </td>
                      <td>
                          @if (Current.Visible != 0)
                          {
                              <span class="label label-success">VISÍVEL</span>
                          }
                          else
                          {
                              <span class="label label-danger">INVISÍVEL</span>
                          }
                      </td>
                      <td>
                          <div class="progress">
                              <div role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @Current.Load%" class="progress-bar progress-bar-success"><span>@Current.Load%</span></div>
                          </div>
                      </td>
                      <td>
                          @if (Current.Visible != 0)
                          {
                              <a href="/hide/@Current.Code" class="btn btn-xs btn-danger">Esconder</a>
                          }
                          else
                          {
                              <a href="/show/@Current.Code" class="btn btn-xs btn-success">Mostrar</a>
                          }
                      </td>
                  </tr>
              }
              </tbody>
          </table>
          <hr/>
      </div>
    <footer class="footer">
      <p class="pull-left"><a href="http://fenris.wolfulus.com/">Fenris Project</a> &copy; WoLfulus 2016</p>
      <p class="pull-right">@Model.Players jogadores online</p>
    </footer>
  </div>
</body>
</body>
</html>