body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header,
.content,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	border-bottom: 1px solid #e5e5e5;
}

.header h3 {
	padding-bottom: 19px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

.content {
	margin: 40px 0;
}
.content p + h4 {
	margin-top: 28px;
}

@media screen and (min-width: 768px) {
	.header,
	.content,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	.header {
		margin-bottom: 30px;
	}
	.jumbotron {
		border-bottom: 0;
	}
}
form.login {
	padding-top: 40px;
}
.progress {
	margin-bottom: 0;
}